:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  padding-top: 5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f8f8f8;
  }
}


